
body{
  background-color: black;
}
.main-img{
    width: 100%;
    /* height: 220px; */
}

#main-img{
    position: relative;
}



a:link {
    color: white;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: rgb(199, 199, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }




.go-back{
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(12px);
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 0%;
    font-weight: 900;
    font-family: Italiana;
    gap: 10px;
    border-bottom-right-radius: 14px;
}

.go-back svg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Italiana;
}

.heading h1{
    display: inline-block;
    text-align: center;
    background-color: rgb(103, 221, 242);
    padding: 15px;
    border-radius: 14px;
    border: 4px solid black;
}


.card {
  width: 270px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  margin: 30px auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.127);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  color: white;
  font-size: 24px;
  padding: 14px;
}


th{
  text-align: left;
  padding-right: 28px;
  font-family: Italiana;
}

td{
  padding: 5px 0px;
  font-family: Stylish;
}
.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 60px;
  height: 60px;
  background: radial-gradient(rgb(55, 173, 194), rgb(103, 221, 242));
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.agenda{
  color: white;
  padding: 0px 16px;
}

.agenda h1{
  font-family: Italiana;
}

.agenda ul{
  font-family: Inter;
  list-style-type: none;
  line-height: 30px;
  padding: 0;
  margin: 0;
}
.important h1, .important h2{
  font-family: Italiana;
}

.important ul, .important p{
  font-family: Inter;
    list-style-type: none;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

.important{
  color: white;
  padding: 0px 16px;
}


#doc-link{
  color: rgb(103, 221, 242);
  font-size: 20px;
}

#doc-link:hover{
  color: rgb(222, 239, 163);
}


@media(min-width: 1200px) {
  .main-container{
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
  }

  .main-img{
    /* width: 800px; */
    height: 500px;
  }
  .agenda{
    color: white;
    padding: 0px 294px;
  }
  .important{
    color: white;
    padding: 0px 294px;
  }

  iframe{
    width: 560px;
    height: 320px;
  }
  #doc-link{
    font-size: 26px;
  }

}